body{
    background-color: rgb(196, 233, 238);
}
.pokedex-container{
    background-color: rgb(158, 194, 214);
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 90%;
}   
#pokemonList{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border:5px solid rgb(147, 147, 255)
} 
.pokemon-card{
    border: #0d64c1 solid;
    border-radius: 20px;
    margin: 10px;
}
@media(width <700px) and (width >=500px){
    #pokemonList {
    grid-template-columns:repeat(2, 1fr);
    }
}
@media(width <500px){
   #pokemonList{
       grid-template-columns: repeat(1,1fr);
   }
}

@media (width <900px)and (width>=700px){
    #pokemonList{
        grid-template-columns: repeat(3,1fr);
    }
}
#pokemonDetail{
    display: flex;
    flex-direction: column;
}
.grass{
   border:1px solid green 
}
.fire{
    border:1px solid red 
}
